.root {
  width: 100%;
  display: grid;
  gap: var(--space-50);
  height: fit-content;
}

.label {
  font-size: var(--font-size-100);
  font-weight: 400;
  line-height: 1.25;
}

.input-wrapper {
  position: relative;
}

.input {
  width: 100%;
  background-color: rgb(244, 244, 245);
  border: none;
  border-radius: 5px;
  padding: var(--space-100);
  color: black;
}

.input:focus {
  outline: 2px solid black;
}

.input-error {
  border: 2px solid #e43127;
}
