.root {
  font-size: var(--font-size-100);
  font-family: inherit;
  line-height: 125%;
  border-radius: 99px;
  border: none;
  background: linear-gradient(113.69deg, #e43127 2.62%, #d701be 96.65%);
  cursor: pointer;
  color: white;
  width: fit-content;
  padding: var(--space-100) var(--space-200);
  transition: 222ms;
}

.root:hover {
  transform: scale(1.1);
}

.root:focus {
  outline: 2px solid blue;  
}

.root:disabled {
  background: grey;
}
