.root {
  display: grid;
  gap: var(--space-200);
  padding: var(--space-100);
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
  padding-bottom: var(--space-300);
  margin-bottom: var(--space-100);
  border-bottom: 1px solid rgb(222, 222, 222);
}

.savings-estimate {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lead {
  display: grid;
  gap: var(--space-100);
}

.lead-header {
  display: grid;
  gap: 8px;
}

.grey {
  color: grey;
}

.submit {
  margin-top: var(--space-100);
}

@media screen and (min-width: 860px) {
  .root {
    /* grid-template-columns: 1fr 1fr; */
  }

  .lead {
    grid-template-columns: 1fr 1fr;
  }

  .lead-header {
    grid-column: span 2;
  }

  .address {
    grid-column: span 2;
  }

  .submit {
    grid-column: 2;
    place-self: end;
  }
}
