.page {
  padding: var(--space-200) var(--space-100);
}

.main {
  display: grid;
  gap: var(--space-200);
}

.calculator {
  display: grid;
  gap: var(--space-100);
}

.savings-estimate {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 860px) {
  .calculator {
    grid-template-columns: 1fr 1fr;
  }

  .savings-estimate {
    grid-column: span 2;
  }
}
